@font-face {
  font-family: Graffiti;
  src: url('../fonts/GANGBANGCRIME.ttf');
}

.jumbotron h1{
  font-family: Graffiti;
  color: #ffa400;
  -webkit-text-stroke: 2px black;
}

#menu{
  background: #404040;
}

.navbar-default .navbar-nav>.active>a{
  background: #ffa400;
  color: white;
}
.navbar-default .navbar-nav>li>a:hover{
  background: black;
  color: white;
}

.navbar-default .navbar-nav>li>a{
  color: white;
}

.jumbotron{
    background-image: url('../images/black-and-white-city-skyline-buildings.jpg');
    background-size: cover;
    background-position: center;

}
