@font-face {
  font-family: Nosegrind;
  src: url('../fonts/NOSED___.TTF');
}

.graffiti{
  font-family: Nosegrind;
  color: white;
}

#menu{
  background: #404040;
}

.navbar-default .navbar-nav>.active>a{
  background: blue;
  color: white;
}
.navbar-default .navbar-nav>li>a:hover{
  background: black;
  color: white;
}

.navbar-default .navbar-nav>li>a{
  color: white;
}

.jumbotron{
    background-image: url('../images/black-and-white-city-skyline-buildings.jpg');
    background-size: cover;
    background-position: center;

}
